.about {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: navy;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: relative;
  top: -152px;
  left: -129px;
  overflow: hidden;
}
.about__content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 119px;
  margin-bottom: 173px;
  margin-right: 80px;
  color: white;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.about__title {
  color: white;
  margin-top: 100px;
  margin-left: 80px;
  z-index: 1;
  max-width: 251px;
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
@keyframes pulsate {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    scale: 1.25;
    animation-duration: 1.3s;
    animation: ease-in-out;
  }
}
