.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}
.footer__content {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-right: 100px;
  padding-bottom: 108px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer__list {
  list-style: none;
  color: white;
}

.footer__social-heading {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}
.footer__social-link:hover {
  color: #c1c1c1;
  transition: 0.4s ease-in-out;
}
.footer_social-icon {
  height: 16px;
  width: 16px;
}
.footer__copyright {
  margin-top: 108px;
  margin-bottom: 60px;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__logo {
  margin-top: 60px;
  margin-left: 80px;
}
