.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  size: cover;
  color: white;
}

.menu__title {
  align-self: center;
  margin-top: 100px;
  max-width: 780px;
  margin-bottom: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  align-self: center;
  max-width: 780px;
  margin-bottom: 100px;
  font-family: NOto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.card {
  list-style: none;
  max-width: 600px;
  min-width: 600px;
  font-family: Noto Serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.card_title {
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list-divider {
  display: flex;
  border-bottom: solid white 1px;
  flex-grow: 1;
}
.card__list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
